<div class="container">
    <div class="row" id="ustbosluk">
      <div class="col-lg-4">
        <%= render 'userbox' %>
      </div>
      <div class="col-lg-8">
        <div id="cerceve">
        	<div id="DIV_2">
        		<div id="DIV_8" style="margin-top: 0px;">
        				<h3><strong>Bilgilerini Düzenle</strong></h3>
        		</div>
        		<div id="DIV_12">
                    <%= form_for @user do |f| %>
                      <div class="well">
                        <div class="form-group">
                          <h4><strong>İsim</strong></h4>
                          <%= f.text_field :name, placeholder: 'Tam isim', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <h4><strong>Hakkinda</strong></h4>
                          <%= f.text_area :about, placeholder: 'Hakkında', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <h4><strong>Konum</strong></h4>
                          <%= f.text_field :location, placeholder: 'Konum', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <h4><strong>Telefon Numarası</strong></h4>
                          <%= f.text_field :phone_number, placeholder: 'Telefon numarası', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <h4><strong>Dogum Tarihi</strong></h4>
                          <%= f.text_field :dob, placeholder: 'Yıl/Ay/Gün', class: 'form-control' %>
                        </div>
                         <div class="form-group">
                          <h4><strong>Bölüm</strong></h4>
                          <%= f.select :bolum, options_for_select([ "Yazılım Mühendisliği", "Yazılım Mühendisliği I. Öğretim", "Yazılım Mühendisliği II. Öğretim" , "Yazılım Mühendisliği I. Öğretim (M.T.O.K)", "Yazılım Mühendisliği II. Öğretim (M.T.O.K)" , "Diğer"  ], "Yazılım Mühendisliği"), {}, {:class => 'form-control'}%>
                        </div>
                         <div class="form-group">
                          <h4><strong>Öğrencilik Durumu</strong></h4>
                          <%= f.select :ogrencilikdurum, options_for_select([ "- ÖĞRENCİ -", "- MEZUN ÖĞRENCİ -", "- Diğer -"],"- MEZUN ÖĞRENCİ -"), {}, {:class => 'form-control'}%>
                        </div>
                        
                        <div class="form-group">
                          <h4><strong>Cinsiyet</strong></h4>
                          <%= f.select :sex, options_for_seasons, class: 'form-control', prompt: 'Seçiniz' %>
                        </div>
                      </div>  
                      <div class="form-group">
                        <div class="well">
                          <h4><strong>Profil Resmi</strong></h4>
                          <br>
                          <%= render 'shared/avatar', user: @user %><br><br>
                          <%= f.file_field :avatar  %>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="well">
                          <h4><strong>Kapak Resmi</strong></h4>
                          <br>
                          <%= render 'shared/cover', user: @user %>
                          <br>
                          <%= f.file_field :cover %>
                        </div>
                      </div>
                      <div class="actions">
                        <%= submit_tag 'Güncelle', class: 'btn btn-success' %>
                      </div>
                    <% end %>
        		</div>
        	</div>
        </div>
      </div>  
    </div>
  </div>
  <br>




