<% if activity_resources_exist?(activity) %>
  <div id="activity-<%= activity.id %>">
    <div class="activity-like">
      <div class="info">
          <div id="movements">
            <h5>
              <div class="row">
                <div class="col-md-3">
                  <%= render 'shared/avatar', user: activity.owner %>
                </div>
                <div class="col-md-9">
                  <%= link_to activity.owner.name, user_path(activity.owner) %>, 
                  <%=link_to User.where(id: Post.where(id: activity.trackable.id.to_s).first.user_id).first.name,user_path(User.where(id: Post.where(id: activity.trackable.id.to_s).first.user_id).first.name) %>
                  'ın <%= link_to 'gönderisini', activity.trackable %> beğendi.
                </div>
               </div>
            </h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
