<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/"><img src="https://i.hizliresim.com/0E9NLo.png" width="150" height="45">
        </a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <a class="top_profile_mrow" id="top_myprofile_link" href="<%= user_path(current_user) %>" onclick="return TopMenu.select(this, event);" style="">Sayfam</a>
              <a class="top_profile_mrow" id="top_edit_link" href="home/portal">Portal</a>
              <a class="top_profile_mrow" id="top_edit_link" href="<%= home_front_path %>">Haberler</a>
    				  <a class="top_profile_mrow" id="top_edit_link" href="<%= edit_user_path(current_user) %>">Düzenle</a>
    				  <a class="top_profile_mrow" id="top_edit_link" href="<%= edit_user_registration_path %>">Parolayı Değiştir</a>
    				  
    				  <div class="top_profile_sep" style=""></div>
    				  <a class="top_profile_mrow" id="top_edit_link" href="<%= destroy_user_session_path %>" rel="nofollow" data-method="delete">Çıkış Yap</a>
    			
    				  
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Haberler', home_front_path %></li>
          <li><%= link_to 'Üye Ol', new_user_registration_path %></li>
          <li><%= link_to 'Oturum Aç', user_session_path %></li>
        <% end %>
      </ul>
      
      
      
    </div>
    
  
  </div>
</nav>
