<%= render 'shared/wrapper' %>

<div class="container white">
    <div id="user-info" class="well">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              
                <div class="item active">
                  <img src="/assets/slidebar1.jpg">
                   <div class="carousel-caption">
                    <p>Fırat Üniversitesi ile mezunları arasındaki bağları kuvvetlendirmek, mezunların birbirleri arasında iletişim ağını oluşturmak ve bu ağı geliştirmek için kurulmuştur.</p>
                  </div>
                </div><!-- End Item -->
         
                 <div class="item">
                  <img src="/assets/slidebar2.jpg">
                   <div class="carousel-caption">
                    <p>Doğru bir CV için gerekli dökümanlar ve hazır CV örnekleri hazırlanmıştır. <a class="label label-primary" href="/home/cv" target="_blank">Devamını Oku..</a></p>
                  </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="/assets/slidebar3.jpg">
                   <div class="carousel-caption">
                    <p>Bölümümüz ile ilgili istatistikleri görebilirsiniz.<a class="label label-primary" href="/home/statistic" target="_blank">Devamını Oku..</a></p>
                  </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="/assets/slidebar4.jpg">
                   <div class="carousel-caption">
                    <p>Sıkça Sorulan Sorular <a class="label label-primary" href="/home/sss" target="_blank">Devamını Oku..</a></p>
                  </div>
                </div><!-- End Item -->
        
                <div class="item">
                  <img src="/assets/slidebar5.jpg">
                   <div class="carousel-caption">
                    <p>Hakkımızda bilgi edinebilirsiniz. <a class="label label-primary" href="/home/hakkimizda" target="_blank">Devamını Oku..</a></p>
                  </div>
                </div><!-- End Item -->
                        
              </div><!-- End Carousel Inner -->
        
        
            <ul class="list-group col-sm-4">
              <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Fırat Üniversitesi Tek.Fak. Yazılım Mühendisliği Mezun Bilgi Sistemi</h4></li>
              <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Özgeçmiş Hazırlama ve Mülakat Teknikleri</h4></li>
              <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Bölüm İstatistikleri</h4></li>
              <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>S.S.S</h4></li>
              <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>Hakkımızda</h4></li>
            </ul>
        
              <!-- Controls -->
              <div class="carousel-controls">
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </div>
        
            </div><!-- End Carousel -->
        </div><!-- End Row -->
    
        <br><hr>
        <div class="container"> 
            <div class="row"> 
                <h3 class="text-center">Hala Kayıt Olmadınız Mı?</h3>
            </div>
        </div>
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-lg-5 col-md-5 colset">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3 style="color: #666;">Mezunlar Kayıt Formu</h3>
                            <hr class="bottomhr">
                        </div>
                    </div>
                    <ul class="list3">
                        <li><span class="glyphicon glyphicon-ok okstyle okstylekirmizi"></span><span class="spantext">Ücretsiz</span></li>
                        <li><span class="glyphicon glyphicon-ok okstyle okstylekirmizi"></span><span class="spantext">CV Oluştur</span></li>
                        <li><span class="glyphicon glyphicon-ok okstyle okstylekirmizi"></span><span class="spantext">İş İlanlarına Gözat</span></li>
                        <li><span class="glyphicon glyphicon-ok okstyle okstylekirmizi"></span><span class="spantext">Ayrıcalıkları Keşfet</span></li>
                    </ul>
                    <a href="/users/sign_up" class="btn btn-danger btnsize">Kayıt Ol</a>
                </div>

                <div class="col-lg-5 col-md-5 colset" >
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3 style="color: #666;">Zaten Üyeyim</h3>
                            <hr class="bottomhr">
                        </div>
                    </div>
                    <ul class="list3" style="padding-bottom: 108px;">
                        <li><span class="glyphicon glyphicon-ok okstyle okstyleyesil"></span><span class="spantext">Şifremi Unuttum</span></li>
                    </ul>
                    <a href="/users/sign_in" class="btn btn-success btnsize">Giriş Yap</a>
                </div>
            </div>
        </div>  

        <br><hr>
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-lg-5 col-md-5 colset">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3 style="color: #666;">Hızlı Erişim</h3>
                            <hr class="bottomhr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <a class="metrostyle orgmetro" href="/home/cv" target="_blank" >
                                <span class="glyphicon glyphicon-align-center" style="font-size: 35px; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:20px">CV Örnekleri</span>
                            </a>
                        </div> 
                        <div class="col-lg-4 col-md-4" >
                            <a class="metrostyle2 orgmetro2" href="/home/statistic" target="_blank"  >
                                <span class="glyphicon glyphicon-th-list" style="font-size: 35px; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                                <span style="color: white; float: left; margin-top: 15px; margin-left: 10px;margin-right:20px">Bölüm İstatistikleri</span>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <a class="metrostyle3 orgmetro3" href="http://yeni.firat.edu.tr/content/akademik-takvim" target="_blank"  >
                                <span class="glyphicon glyphicon-calendar" style="font-size: 35px; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                                <span style="color: white; float: left; margin-top: 15px; margin-left: 10px;margin-right:20px">Akademik Takvim</span>
                            </a>
                        </div>
                    </div><br> 
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <a class="metrostyle4 orgmetro4" href="https://obs.firat.edu.tr/" target="_blank"  >
                                <span class="glyphicon glyphicon-book" style="font-size: 35px; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                                <span style="color: white; float: left; margin-top: 15px; margin-left: 10px;margin-right:20px">Öğrenci Bilgi Sistemi</span>
                            </a>
                        </div>  
                        <div class="col-lg-4 col-md-4">
                            <a class="metrostyle5 orgmetro5" href="https://indir.firat.edu.tr/" target="_blank"  >
                                <span class="glyphicon glyphicon-download-alt" style="font-size: 35px; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                                <span style="color: white; float: left; margin-top: 15px; margin-left: 10px;margin-right:20px">Dosya İndirme Sistemi</span>
                            </a> 
                         </div>  
                        <div class="col-lg-4 col-md-4">
                            <a class="metrostyle6 orgmetro6" href="http://www.firatteknokent.com.tr/" target="_blank"  >
                                <span class="glyphicon glyphicon-home" style="font-size: 35px; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                                <span style="color: white; float: left; margin-top: 15px; margin-left: 10px;margin-right:20px">Fırat Teknokent</span>
                            </a> 
                         </div>    
                    </div>    
                </div>

                <div class="col-lg-5 col-md-5 colset" >
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3 style="color: #666;">Duyurular</h3>
                            <hr class="bottomhr">
                        </div>
                    </div>
                        <ul class="list3">
                        <li><span class="glyphicon glyphicon-pushpin okstyle"></span><span class="spantext">Bölüm İstatistikleri Eklendi.</span></li>
                        <li><span class="glyphicon glyphicon-pushpin okstyle"></span><span class="spantext">Etkinlik Takvimi Eklendi.</span></li>
                        <li><span class="glyphicon glyphicon-pushpin okstyle"></span><span class="spantext">Üye Profili Eklendi.</span></li>
                        <li><span class="glyphicon glyphicon-pushpin okstyle"></span><span class="spantext">Kariyer Modülü Eklendi.</span></li>
                        <li><span class="glyphicon glyphicon-pushpin okstyle"></span><span class="spantext">Mezun Bilgi Sistemi'ne Hoşgeldiniz.</span></li>
                        
                    </ul>
                </div>
            </div>
        </div>      

         <br><hr>
        <div class="row" >
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <h3 class="text-center">
                        Üniversite Haberleri
                    </h3>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <!-- Controls -->
                    <div class="text-center">
                        <a class="fa fa-angle-left" href="#carousel-example"
                            data-slide="prev" style="font-size:24px"></a><a class="fa fa-angle-right" href="#carousel-example"
                                data-slide="next" style="font-size:24px"></a>
                    </div>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <% for i in(0..2) %>
                            <div class="col-md-4 col-lg-4 col-sm-4">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="<%= @img[i].join(",") %>" class="img-responsive img-box img-thumbnail" alt="a" style="height:250px;width:370px;" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-12 col-lg-12 col-sm-12">
                                                <i class="icon-calendar"></i> <%= @tarih[i] %>
                                                <a href="http://www.firat.edu.tr<%= @link[i].join(",") %>" class="price-text-color" target="_blank"><br>
                                                    <%= @baslik[i] %>
                                                </a><br>
                                                <p><%= @icerik[i] %></p>
                                                <a href="http://www.firat.edu.tr<%= @link[i].join(",") %>" target="_blank">Devamını Oku...</a>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                         
                        </div>
                    </div>
                    <div class="item">
                        <div class="row" >
                            <% for i in(2..4) %>
                            <div class="col-md-4 col-lg-4 col-sm-4">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="<%= @img[i].join(",") %>" class="img-responsive img-box img-thumbnail" alt="a" style="height:250px;width:370px;" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-12 col-lg-12 col-sm-12">
                                                <i class="icon-calendar"></i> <%= @tarih[i] %>
                                                <a href="http://www.firat.edu.tr<%= @link[i].join(",") %>" class="price-text-color" target="_blank"><br>
                                                    <%= @baslik[i] %>
                                                </a><br>
                                                <p><%= @icerik[i] %></p>
                                                <a href="http://www.firat.edu.tr<%= @link[i].join(",") %>" target="_blank">Devamını Oku...</a>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       <hr> <br>
    </div>  
</div> 

